body {
    background: white url("images/background.png");
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}
.align-center{
    text-align: center;
}

.image-center{
    display: block;
    margin:0 auto;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}