<h2 class="align-center">Dodaj propozycję własnego kursu</h2>
<br>
<form class="form-horizontal" method="post" action="/index.php?id=addCourse">
    <div class="form-group">
        <label for="inputName" class="col-md-4 control-label">Nazwa kursu:</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="inputName" name="courseName" placeholder="Podaj nazwę...">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPrice" class="col-md-4 control-label">Cena:</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="inputPrice" name="coursePrice" placeholder="Podaj cenę...">
        </div>
    </div>

    <div class="form-group">
        <label for="inputLength" class="col-md-4 control-label">Czas trwania:</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="inputLength" name="courseLength" placeholder="Czas trwania...">
        </div>
    </div>

    <div class="form-group">
        <label for="inputKeywords" class="col-md-4 control-label">Słowa kluczowe:</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="inputKeywords" name="courseKeywords" placeholder="Słowa kluczowe (odzielane spacją)...">
        </div>
    </div>
    <div class="form-group">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Dodaj</button>
        </div>
    </div>
</form>

</body>
</html>