
    <h1 class='align-center'>Kursy IT dla każdego</h1>
    <h3 class='align-center'>Zachęcamy do zapoznania się z naszą ofertą</h3>
    <img src="/static/images/languages.png" class="img-responsive image-center">
</body>
</html>